<a href="https://colab.research.google.com/github/Zuha-Wasfi/Supermarket-Sales-Prediction/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Summary: Supermarket Sales Analysis and Prediction**
**Project Title:** Multi-Annex Sales Forecasting and Inventory Optimization using Machine Learning.

**Description:** This project focuses on analyzing and predicting supermarket sales trends by integrating data from multiple sources (Annex 1 to Annex 4). The dataset encompasses comprehensive information including **item categories, transaction records, wholesale pricing, and loss rates.**

The primary objective is to build a robust predictive model that estimates future demand for various product categories. By leveraging **Data Preprocessing** and **Exploratory Data Analysis (EDA)**, we identify key sales drivers such as seasonality, pricing impacts, and category-wise performance.

**Key Technical Phases:**

**Data Integration:** Merging diverse datasets (Item Information, Sales Records, and Pricing) using Python's Pandas library.

**Preprocessing:** Handling missing values, normalizing loss rates, and feature engineering from time-series data.

**Predictive Modeling:** Implementing Regression algorithms to forecast sales volume and revenue.

**Insight Generation:** Visualizing sales patterns to provide actionable business recommendations for stock management.

**Objective:** To assist supermarket management in making data-driven decisions, reducing inventory waste (loss rates), and maximizing revenue through accurate sales forecasting.

**Project Highlights:**

**Diverse Data Handling:** Worked with 4 complex datasets containing over 3 years of transaction history.

**Scalability:** Developed a pipeline to handle large-scale CSV files (Annex 2) using Git version control.

**Time-Series Focus:** Specialized in extracting 'Day', 'Month', and 'Season' features to understand shopping behavior.

**Collaboration:** Executed in a team environment using GitHub and Google Colab for real-time code sharing.

# **Description of Dataset**
In this project, we are working with four interconnected datasets (Annex 1 to Annex 4) that provide a 360-degree view of the supermarket's operations. Below is the detailed breakdown of each file:

**1. Annex 1: Item Information Master**


*   **Description:** This is the primary reference file. It links every **Item Code** to its **Item Name** and **Category Name** (e.g., Flower/Leaf Vegetables, Edible Mushrooms).
*   Key Columns: `Item Code`, `Item Name`, `Category Code`, `Category Name`.

**2. Annex 2: Sales Transaction Records**


*   **Description:** This is the largest file (Time-Series data). It records every individual sale, including the specific time, quantity sold, and whether any discounts were applied.
*   **Key Columns:** `Date`, `Time`, `Quantity Sold (kilo)`, `Unit Selling Price (RMB/kg)`, `Discount (Yes/No)`.

**3. Annex 3: Wholesale Price Records**


*   **Description:** This file contains the daily **Wholesale Price** (cost price) for each item. By joining this with Annex 2, we can calculate the profit margins.
*   **Key Columns:** `Date`, `Item Code`, `Wholesale Price (RMB/kg)`.

**4. Annex 4: Loss Rate Information**


*   **Description:** This file provides the average **Loss Rate Percentage** for each item. This is crucial for predicting waste and adjusting stock levels.
*   **Key Columns:** `Item Code`, `Item Name`, `Loss Rate (%)`.


**Note:** The total dataset covers transaction records from **July 2020 to June 2023**, allowing us to analyze long-term seasonal trends and year-on-year growth.

# **Data Preprocessing & Integration**

**1. Loading the Datasets**

In [11]:
import pandas as pd

In [18]:
path1 = '/content/drive/MyDrive/Supermarket_Sales_Datasets/annex1.csv'
item_info = pd.read_csv(path1) # Item & Category names

In [19]:
df1.head()

,Item Code,Item Name,Category Code,Category Name
0,102900005115168,Niushou Shengcai,1011010101,Flower/Leaf Vegetables
1,102900005115199,Sichuan Red Cedar,1011010101,Flower/Leaf Vegetables
2,102900005115625,Local Xiaomao Cabbage,1011010101,Flower/Leaf Vegetables
3,102900005115748,White Caitai,1011010101,Flower/Leaf Vegetables
4,102900005115762,Amaranth,1011010101,Flower/Leaf Vegetables

In [20]:
path2 = '/content/drive/MyDrive/Supermarket_Sales_Datasets/annex2.csv'
sales_data = pd.read_csv(path2) # Transactions

In [21]:
df2.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No

In [22]:
path3 = '/content/drive/MyDrive/Supermarket_Sales_Datasets/annex3.csv'
wholesale = pd.read_csv(path3) # Cost price

In [23]:
df3.head()

         Date        Item Code  Wholesale Price (RMB/kg)
0  2020-07-01  102900005115762                      3.88
1  2020-07-01  102900005115779                      6.72
2  2020-07-01  102900005115786                      3.19
3  2020-07-01  102900005115793                      9.24
4  2020-07-01  102900005115823                      7.03

In [24]:
path4 = '/content/drive/MyDrive/Supermarket_Sales_Datasets/annex4.csv'
loss_rate = pd.read_csv(path4) # Waste %

In [25]:
df4.head()

         Item Code                 Item Name  Loss Rate (%)
0  102900005115168          Niushou Shengcai           4.39
1  102900005115199         Sichuan Red Cedar          10.46
2  102900005115250  Xixia Black Mushroom (1)          10.80
3  102900005115625     Local Xiaomao Cabbage           0.18
4  102900005115748              White Caitai           8.78

**2. Data Merging**

In [29]:
master_df = pd.merge(sales_data, item_info, on='Item Code', how='left')
master_df = pd.merge(master_df, wholesale, on=['Date', 'Item Code'], how='left')
master_df = pd.merge(master_df, loss_rate, on='Item Code', how='left')

In [30]:
master_df.head()

,Date,Time,Item Code,Quantity Sold (kilo),Unit Selling Price (RMB/kg),Sale or Return,Discount (Yes/No),Item Name_x,Category Code,Category Name,Wholesale Price (RMB/kg),Item Name_y,Loss Rate (%)
0,2020-07-01,09:15:07.924,102900005117056,0.396,7.6,sale,No,Paopaojiao (Jingpin),1011010504,Capsicum,4.32,Paopaojiao (Jingpin),7.08
1,2020-07-01,09:17:27.295,102900005115960,0.849,3.2,sale,No,Chinese Cabbage,1011010101,Flower/Leaf Vegetables,2.10,Chinese Cabbage,22.27
2,2020-07-01,09:17:33.905,102900005117056,0.409,7.6,sale,No,Paopaojiao (Jingpin),1011010504,Capsicum,4.32,Paopaojiao (Jingpin),7.08
3,2020-07-01,09:19:45.450,102900005115823,0.421,10.0,sale,No,Shanghaiqing,1011010101,Flower/Leaf Vegetables,7.03,Shanghaiqing,14.43
4,2020-07-01,09:20:23.686,102900005115908,0.539,8.0,sale,No,Caixin,1011010101,Flower/Leaf Vegetables,4.60,Caixin,13.70

**3. Handling Missing Values**

In [31]:
print(master_df.isnull().sum())

Date                           0
Time                           0
Item Code                      0
Quantity Sold (kilo)           0
Unit Selling Price (RMB/kg)    0
Sale or Return                 0
Discount (Yes/No)              0
Item Name_x                    0
Category Code                  0
Category Name                  0
Wholesale Price (RMB/kg)       0
Item Name_y                    0
Loss Rate (%)                  0
dtype: int64

**4. Exporting the Cleaned Data**

In [32]:
master_df.to_csv('final_processed_data.csv', index=False)